* {
  padding: 0;
  margin: 0;
  box-sizing: 0;
  outline: none;
}

body {
  font-family: 'Domine', serif;
}

main {
  display: flex;
  flex-direction: column;
}

section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 30px;
}